@charset "UTF-8";
/* Rese */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  all: unset;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

/* HEADER MOBILE */
/* HEADER MOBILE */
/* HEADER MOBILE */
header {
  width: 100%;
  height: auto;
  background-color: #262161;
}
header .left--content {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 5px;
  gap: 10px;
}
header .left--content img {
  width: auto;
  height: 50px;
  max-width: 100%;
  padding: 0px;
}
header .left--content a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 3rem;
}
header .left--content a:hover{
  transform: scale(1.03); /* Aumenta el tamaño un 20% */
  filter: brightness(1.3); /* Aumenta el brillo */
}

header .right--content {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
header .right--content li {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 2px 4px;
  margin: 2px;
}
header .right--content li a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header .right--content a:hover{
  transform: scale(1.1); /* Aumenta el tamaño un 20% */
  filter: brightness(1.3); /* Aumenta el brillo */
}
header .search-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 0;
}
header .custom-navbar {
  background-color: #262161;
}

/* INDEX MOBILE */
/* INDEX MOBILE */
/* INDEX MOBILE */
.portada img {
  width: 100%;
  height: auto;
}

.intro h1 {
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  font-size: 35px;
}
.intro p {
  width: 90%;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.obras {
  text-align: center;
}
.obras h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 30px 0px 10px 15px;
}
.obras p {
  display: inline-block;
  margin: 0px 15px;
  margin-bottom: 20px;
  font-size: 18px;
  width: auto;
  text-align: center;
  padding: 0px 0px 3px 0px;
}
.obras img {
  width: 390px;
  height: auto;
  padding: 0px 15px 15px 15px;
}

/* FOOTER MOBILE */
/* FOOTER MOBILE */
/* FOOTER MOBILE */
footer {
  padding: 15px;
  display: flex;
  background-color: #262161;
  justify-content: space-between;
  align-items: center !important;
  height: auto;
}
footer .footer-content {
  align-items: center;
  text-align: center;
}
footer .footer--left {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 0px 15px;
}
footer .footer--right {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
footer .footer--right a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 0px 15px;
}

footer .footer--right a:hover {
  transform: scale(1.1); /* Aumenta el tamaño un 20% */
  filter: brightness(1.3); /* Aumenta el brillo */
}

/* PAGINA NOSOTROS MOBILE*/
/* PAGINA NOSOTROS MOBILE*/
/* PAGINA NOSOTROS MOBILE*/
.intro-nosotros {
  text-align: center;
}
.intro-nosotros p {
  font-size: 20px;
  padding-bottom: 20px;
  margin: 0px 40px
}
.intro-nosotros img {
  width: 100%;
  height: auto;
}
.intro-nosotros h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.intro-nosotros h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* PAGINA NOSOTROS DESKTOP*/
/* PAGINA NOSOTROS DESKTOP*/
/* PAGINA NOSOTROS DESKTOP*/
@media (min-width: 600px){
.intro-nosotros {
  text-align: center;
}
.intro-nosotros p {
  font-size: 20px;
  padding-bottom: 20px;
  margin: 0px 200px;
}
.intro-nosotros img {
  width: 100%;
  height: auto;
}
.intro-nosotros h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.intro-nosotros h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
}

/* PAGINA SERVICIOS MOBILE */
/* PAGINA SERVICIOS MOBILE */
/* PAGINA SERVICIOS MOBILE */
.intro-servicios {
  max-width: 90%; /*Limita el ancho total del contenedor */
  margin: 0 auto; /*Centra el contenedor*/
  padding: 20px;
}
.intro-servicios h1 {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.servicios-item {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}
.servicios-item img {
  width: 100%;
  max-width: 450px;
  aspect-ratio: 2; /* Mantiene determinada proporción */
  object-fit: cover; /* Ajusta las imágenes sin distorsión */
  border-radius: 25px;
}
.servicios-item h2 {
  text-align: center;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.servicio {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

/* PAGINA PROYECTO MOBILE */
/* PAGINA PROYECTO MOBILE */
/* PAGINA PROYECTO MOBILE */
.intro-proyecto h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}
.intro-proyecto p {
  text-align: center;
  font-size: 22px;
  width: 95%;
  margin: auto; /*coloca automáticamente el margen izquierdo y derecho de forma equitativa, lo que resulta en un centrado horizontal.*/
  padding: 25px;
}

.video-proyecto {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.video-proyecto video {
  width: 95%;
  height: auto;
  border-radius: 10px;
}

/* PAGINA CONTACTO MOBILE */
/* PAGINA CONTACTO MOBILE */
/* PAGINA CONTACTO MOBILE */
.intro-contacto {
  all: unset;
  font-weight: bold !important;
  text-align: center !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}
.intro-contacto h1 {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 30px;
}
.intro-contacto h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

.casillas label {
  display: block; /* Hace que el label ocupe una línea completa */
  margin-bottom: 10px; /* Espacio entre el label y el campo de entrada */
  margin: 0;
  padding: 5px;
}
.casillas input, .casillas textarea {
  width: 200px; /* Asegura que los inputs y textarea ocupen todo el ancho */
  margin-bottom: 10px;
}

.redes img {
  all: unset;
  width: 35px;
  height: 35px;
  padding: 0px 20px 15px 30px;
}

.redes img:hover {
  transform: scale(1.2); /* Aumenta el tamaño un 20% */
  filter: brightness(1.3); /* Aumenta el brillo */
}

/* HEADER TABLET */
/* HEADER TABLET */
/* HEADER TABLET */
@media (min-width: 600px) {
  header {
    width: 100%;
    height: auto;
    background-color: #262161;
  }
  header .left--content {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    gap: 10px;
  }
  header .left--content img {
    width: auto;
    height: 50px;
    max-width: 100%;
    padding: 0px;
  }
  header .left--content a {
    text-decoration: none;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    font-size: 3rem;
  }
  header .right--content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  header .right--content li {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 2px 4px;
    margin: 2px;
  }
  header .right--content li a {
    text-decoration: none;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.4rem;
    padding: 0px 30px;
  }
  header .search-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 0;
  }
  header .custom-navbar {
    background-color: #262161;
  }
}
/* PAGINA SERVICIOS TABLET */
/* PAGINA SERVICIOS TABLET */
/* PAGINA SERVICIOS TABLET */
@media (min-width: 600px) {
  .intro-servicios {
    max-width: 90%; /*Limita el ancho total del contenedor */
    margin: 0 auto; /*Centra el contenedor*/
    padding: 20px;
  }
  .intro-servicios h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .servicios-item {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }
  .servicios-item img {
    width: 100%;
    min-width: 600px;
    height: auto;
    border-radius: 25px;
    padding-bottom: 30px;
  }
  .servicios-item h2 {
    text-align: center;
    font-size: 22px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .servicio {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* PAGINA PROYECTO TABLET*/
/* PAGINA PROYECTO TABLET*/
/* PAGINA PROYECTO TABLET*/
@media (min-width: 600px) {
  .video-proyecto h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }
  .video-proyecto video {
    padding: 30px 0px;
    width: 95%;
    height: auto;
    border-radius: 10px;
  }
}
/* PAGINA CONTACTO TABLET */
/* PAGINA CONTACTO TABLET */
/* PAGINA CONTACTO TABLET */
@media (min-width: 600px) {
  .intro-contacto {
    all: unset;
    font-weight: bold !important;
    text-align: center !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  }
  .intro-contacto h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 30px;
  }
  .intro-contacto h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 160px;
    padding-bottom: 30px;
  }
  .casillas label {
    display: block; /* Hace que el label ocupe una línea completa */
    margin-bottom: 30px; /* Espacio entre el label y el campo de entrada */
    margin: 0;
    font-size: 1.5rem;
    padding: 15px;
  }
  .casillas input, .casillas textarea {
    width: 400px; /* Asegura que los inputs y textarea ocupen todo el ancho */
    margin-bottom: 10px;
    padding: 10px;
  }
  .redes img {
    all: unset;
    width: 65px;
    height: 65px;
    padding: 0px 20px 15px 30px;
  }
}
/* HEADER DESKTOP */
/* HEADER DESKTOP */
/* HEADER DESKTOP */
@media (min-width: 1024px) {
  header {
    width: 100%;
    height: auto;
    background-color: #262161;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header .left--content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .left--content img {
    width: auto;
    height: 50px;
    max-width: 100%;
    padding: 5px 15px 5px 15px;
  }
  header .left--content a {
    text-decoration: none;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3rem;
  }
  header .right--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
  }
  header .right--content li {
    list-style: none;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    padding: 0;
  }
  header .right--content li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  header .parent--container {
    display: flex;
    justify-content: space-between;
  }
}
/* INDEX DESKTOP */
/* INDEX DESKTOP */
/* INDEX DESKTOP */
@media (min-width: 1024px) {
  .obras--item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .obras--item p {
    text-align: left;
    width: 65%;
  }
}
/* PAGINA NOSOTROS DESKTOP */
/* PAGINA NOSOTROS DESKTOP */
/* PAGINA NOSOTROS DESKTOP */
@media (min-width: 1024px) {
  .intro-nosotros img {
    width: 100%;
    height: auto;
  }
  .intro-nosotros h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .intro-nosotros h2 {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .intro-nosotros {
    text-align: center;
  }
}
/* PAGINA SERVICIOS DESKTOP */
/* PAGINA SERVICIOS DESKTOP */
/* PAGINA SERVICIOS DESKTOP */
@media (min-width: 1024px) {
  .intro-servicios {
    max-width: 90%; /*Limita el ancho total del contenedor */
    margin: 0 auto; /*Centra el contenedor*/
    padding: 20px;
  }
  .intro-servicios h1 {
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
  }
  .servicios-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
  }
  .servicios-item img {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 2; /* Mantiene determinada proporción */
    object-fit: cover; /* Ajusta las imágenes sin distorsión */
    border-radius: 25px;
  }
  .servicios-item h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 22px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* PAGINA PROYECTO DESKTOP */
/* PAGINA PROYECTO DESKTOP */
/* PAGINA PROYECTO DESKTOP */
@media (min-width: 1024px) {
  .intro-proyecto h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-bottom: 0;
    padding: 20px 0px 0px 0px;
  }
  .intro-proyecto p {
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: auto; /*coloca automáticamente el margen izquierdo y derecho de forma equitativa, lo que resulta en un centrado horizontal.*/
    padding-top: 0;
    padding-bottom: 30px;
  }
  .video-proyecto {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .video-proyecto video {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
}
/* PAGINA CONTACTO DESKTOP */
/* PAGINA CONTACTO DESKTOP */
/* PAGINA CONTACTO DESKTOP */
@media (min-width: 1024px) {
  .intro-contacto {
    all: unset;
    font-weight: bold !important;
    text-align: center !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  }
  .intro-contacto h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 30px;
  }
  .intro-contacto h2 {
    text-align: center;
    font-weight: bold;
    padding: 70px 0px 15px 0px;
  }
  .casillas label {
    display: block; /* Hace que el label ocupe una línea completa */
    margin-bottom: 10px; /* Espacio entre el label y el campo de entrada */
    margin: 0;
    padding: 5px;
  }
  .casillas input, .casillas textarea {
    width: 200px; /* Asegura que los inputs y textarea ocupen todo el ancho */
    margin-bottom: 10px;
    padding: 2px;
  }
  .redes img {
    all: unset;
    width: 35px;
    height: 35px;
    padding: 0px 20px 15px 30px;
  }

  .redes img:hover {
    transform: scale(1.3); /* Aumenta el tamaño un 20% */
    filter: brightness(1.3); /* Aumenta el brillo */
  }
}

/*# sourceMappingURL=style.css.map */
